* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: linear-gradient(135deg, #0f172a, #1e3a8a);
    color: white;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: rgba(0,0,0,0.5);
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Hero */
.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px;
}

.hero span {
    color: #38bdf8;
}

.hero img {
    border-radius: 50%;
}

/* About */
#about {
    text-align: center;
    padding: 50px;
}

.skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills div {
    background: #1e40af;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 20px;
}

/* Portfolio */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
    padding: 50px;
}

.card {
    background: #1e293b;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
}

/* Contact */
#contact {
    text-align: center;
    padding: 50px;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

input, textarea {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px;
    background: #38bdf8;
    border: none;
    color: black;
    cursor: pointer;
}

/* Responsive */
@media(max-width: 768px) {
    .hero {
        flex-direction: column;
    }
}
.hero-img img {
    width: 200px;      /* adjust size */
    height: 200px;
    object-fit: cover; /* keeps image neat */
    border-radius: 50%;
}